* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Avenir, Helvetica, sans-serif;
}
nav li {
  display: inline-block;
}
header {
  background-color: #f6f6f6;
  padding: 10px;
  text-align: center;
}
header li {
  display: inline-block;
  padding: 10px;
  color: #9ab090;
}
header li img {
  width: 50%;
  padding: 1%;
}
nav {
  padding: 1%;
}
ul {
  width: 100%;
  margin-left: auto;
}
.inline-block {
  text-align: center;
}
h1 {
  padding: 1%;
}
p {
  padding: 1%;
}
button {
  background-color: #eacbd1; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Avenir, Helvetica, sans-serif;
}
footer {
  background-color: #373738;
  text-align: center;
  padding: 20px;
}
footer li {
  display: inline-block;
  padding: 3px;
  color: #9ab090;
}
.heroSection {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  background-color: #9ab090;
  padding: 25px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 75px;
  padding-bottom: 75px;
  color: #ffffff;
}
.profilePic {
  width: 50%;
}

.mySkills {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 30px;
  color: #9ab090;
}
.skill-icon {
  width: 30%;
  padding: 15px;
}
.parentContainer {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  padding: 15px;
  justify-content: center;
  text-align: center;
}
.flexChild {
  padding: 10px;
  margin: 10px;
}
h3 {
  padding-bottom: 10px;
}
.line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #f6f6f6;
}
.parentGrid {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  background-color: #f6f6f6;
  padding: 15px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.projectImg {
  width: 100%;
}
.containerGrid {
  padding: 10px;
  margin: 10px;
}
.projectTitle {
  color: #9ab090;
  text-align: left;
  padding-bottom: 1%;
}
.projectInfo {
  text-align: left;
  padding: 0%;
}
.viewMore {
  background-color: #f6f6f6;
  padding: 15px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.moreFormat {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}
.moreChild {
  padding: 10px;
  margin: 10px;
}
@media only screen and (max-width: 600) {
  body {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #f6f6f6;
    padding: 15px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }
}
